@(evaluacionMateria:List[EvaluacionMateria], evaluacionGestion:EvaluacionGestion, autoEvaluacionGestion:EvaluacionGestion, evaluacionInvestigacion:EvaluacionInvestigacion,autoEvaluacionInvestigacion:EvaluacionInvestigacion, profesor:Profesor, semestre:String, imagen:String)
<div id="informe">
<div class="tabs">
	
 	<div id="tabs-docencia">       
	@for(evaluacion <- evaluacionMateria){
	@if(evaluacion.getTipoEvaluacion()==EvaluacionMateria.EVALUACION){
   	<table width='704'>
  	 <tr style="font-size: 8pt;">
    <td width='222'>&nbsp;</td>
    <td width='466'><img width='219' height='63' src='@imagen' alt='Logo title='Logo'  align='left' hspace='12' /></td>
  	</tr>
  	
	</table>
	<div style="text-align:center"><h4>Docente: @profesor.getApellidos() @profesor.getNombres(), Periodo: @semestre</h4></div>
	<div style="text-align:center"><h4>Asignatura:@evaluacion.getMateria().getNombre(), grupo @evaluacion.getMateria().getGrupo()</h4></div>
	<div class="tabs">
	
	<div id="tabs-estudiantes" style='page-break-after:always;'>	

	<h4> Encuestados: @evaluacion.getEvaluados() de @evaluacion.getMateria().getInscritos(), 
porcentaje @(10000*evaluacion.getEvaluados()/evaluacion.getMateria().getInscritos()/100.0)% </h4>
	
	@tabladocencia(evaluacion,"Saber Pedagógico",Pregunta.PEDAGOGICO, 0,5)
	
	@tabladocencia(evaluacion,"Saber Específico",Pregunta.ESPECIFICO,6,8)
	
	@tabladocencia(evaluacion,"Saber Relacional",Pregunta.RELACIONAL,9,11)
	
	<div class="titulotabla">Observaciones</div>
		<table border='1'>
		<tbody>
	 			<tr>
	           <td style="font-size: 8pt; width='7cm'">OBSERVACIONES</td>  
	          </tr>
		     @for(observaciones <- evaluacion.getObservaciones()){
		     <tr>
	           <td style="font-size: 8pt; width='7cm'">- @observaciones</td>  
	          </tr>
	          }
	    </tbody>
	    </table>
		   
	</div>
	<div id="tabs-autoevaluacion" style='page-break-after:always;'>	
   	<table width='704'>
  	 <tr style="font-size: 8pt;">
    <td width='222'>&nbsp;</td>
    <td width='466'><img width='219' height='63' src='@imagen' alt='Logo title='Logo'  align='left' hspace='12' /></td>
  	</tr>
  	
	</table>
	<div style="text-align:center"><h4>Docente: @profesor.getApellidos() @profesor.getNombres() Periodo: @semestre</h4></div>
	<div style="text-align:center"><h4>Autoevaluación Asignatura:@evaluacion.getMateria().getNombre(), grupo @evaluacion.getMateria().getGrupo()</h4></div>
	@defining(evaluacionMateria.indexOf(new EvaluacionMateria(EvaluacionMateria.AUTOEVALUACION,evaluacion.getMateria(),false))){indice=>
		@if(indice>=0){
		@defining(evaluacionMateria.get(indice)){autoevaluacion=>
		@tabladocencia(autoevaluacion,"Saber Pedagógico",Pregunta.PEDAGOGICO, 0,5)
		
		@tabladocencia(autoevaluacion,"Saber Específico",Pregunta.ESPECIFICO,6,8)
		
		@tabladocencia(autoevaluacion,"Saber Relacional",Pregunta.RELACIONAL,9,11)
		}
		
	}else{
	<h2>sin autoevaluación </h2>
	}
	
	}
	</div> <!-- div autoevaluacion -->

	</div> <!-- div tabs -->

	
} 
}
	</div> <!--  docencia -->
<div id="tabs-gestion">
<div class="tabs">
	
	<div id="tabs-evalgestion" style='page-break-after:always;'>
   	<table width='704'>
  	 <tr style="font-size: 8pt;">
    <td width='222'>&nbsp;</td>
    <td width='466'><img width='219' height='63' src='@imagen' alt='Logo title='Logo'  align='left' hspace='12' /></td>
  	</tr>
  	
	</table>
	<div style="text-align:center"><h4>Docente: @profesor.getApellidos() @profesor.getNombres() Periodo: @semestre</h4></div>
	@tablagestion(evaluacionGestion,"Gestión",Pregunta.GESTION, 0,6)	
	</div>
	<div id="tabs-autoevalgestion" style='page-break-after:always;'>
	<table width='704'>
  	 <tr style="font-size: 8pt;">
    <td width='222'>&nbsp;</td>
    <td width='466'><img width='219' height='63' src='@imagen' alt='Logo title='Logo'  align='left' hspace='12' /></td>
  	</tr>
  	
	</table>	
	<div style="text-align:center"><h4>Docente: @profesor.getApellidos() @profesor.getNombres() Periodo: @semestre</h4></div>	
	@tablagestion(autoEvaluacionGestion,"Autoevaluación Gestión",Pregunta.GESTION, 0,6)
	</div>
</div>
</div>
<div id="tabs-investigacion" style='page-break-after:always;'>

<div class="tabs">
		
	<div id="tabs-evalinvestigacion" style='page-break-after:always;'>
	<table width='704'>
  	 <tr style="font-size: 8pt;">
    <td width='222'>&nbsp;</td>
    <td width='466'><img width='219' height='63' src='@imagen' alt='Logo title='Logo'  align='left' hspace='12' /></td>
  	</tr>
  	
	</table>
	
	<div style="text-align:center"><h4>Docente: @profesor.getApellidos() @profesor.getNombres() Periodo: @semestre</h4></div>
	@tablainvestigacion(evaluacionInvestigacion,"Investigación",Pregunta.INVESTIGACION, 0,5)	
	</div>
	<div id="tabs-autoevalinvestigacion" style='page-break-after:always;'>	
	<table width='704'>
  	 <tr style="font-size: 8pt;">
    <td width='222'>&nbsp;</td>
    <td width='466'><img width='219' height='63' src='@imagen' alt='Logo title='Logo'  align='left' hspace='12' /></td>
  	</tr>
  	
	</table>
	
	<div style="text-align:center"><h4>Docente: @profesor.getApellidos() @profesor.getNombres() Periodo: @semestre</h4></div>
	@tablainvestigacion(autoEvaluacionInvestigacion,"Autoevaluación Investigación",Pregunta.INVESTIGACION, 0,5)
	</div>
</div>
</div>
</div> <!-- tabs docencia-gestión-invest --> 
</div>  <!-- div informe -->
