@(evaluacionMateria:List[EvaluacionMateria])
<div id="informe">

        
	@for(evaluacion <- evaluacionMateria){
	@if(evaluacion.getTipoEvaluacion()==EvaluacionMateria.EVALUACION){
	<h2>@evaluacion.getMateria().getNombre(), grupo @evaluacion.getMateria().getGrupo()</h2>
	<div class="tabs">
		<ul>
			<li><a href="#tabs-1">Estudiantes</a></li>
			<li><a href="#tabs-2">Autoevaluación</a></li>
			
		</ul>
	<div id="tabs-1">	

	
	@tabladocencia(evaluacion,"Saber Pedagógico",Pregunta.PEDAGOGICO, 0,5)
	
	@tabladocencia(evaluacion,"Saber Específico",Pregunta.ESPECIFICO,6,8)
	
	@tabladocencia(evaluacion,"Saber Relacional",Pregunta.RELACIONAL,9,11)
	
	<div class="titulotabla">Observaciones</div>
		<table>
		<tbody>
	
		     @for(observaciones <- evaluacion.getObservaciones()){
		     <tr>
	           <td>- @observaciones</td>  
	          </tr>
	          }
	    </tbody>
	    </table>
		   
	</div>
	<div id="tabs-2">	
	@defining(evaluacionMateria.get(evaluacionMateria.indexOf(new EvaluacionMateria(EvaluacionMateria.AUTOEVALUACION,evaluacion.getMateria(),false)))){autoevaluacion=>
	@tabladocencia(autoevaluacion,"Saber Pedagógico",Pregunta.PEDAGOGICO, 0,5)
	
	@tabladocencia(autoevaluacion,"Saber Específico",Pregunta.ESPECIFICO,6,8)
	
	@tabladocencia(autoevaluacion,"Saber Relacional",Pregunta.RELACIONAL,9,11)
	}
	
	</div> <!-- div tab2 -->
	</div> <!-- div tabs -->
	
} 
} 
</div>  <!-- div informe -->
<script>
$( ".tabs" ).tabs();
</script>