@(estudiantesEvaluadosPorFacultad:List[Facultad],
    			docentesEvaluadosPorEstudiantesPorFacultad:List[Facultad],
    			docentesConAutoevaluacionPorFacultad:List[Facultad],
    			directivosGestionEvaluadosPorFacultad:List[Facultad],
    			directivosInvestigacionEvaluadosPorFacultad:List[Facultad], semestre:String)
@import models.Nivel
@import java.text.DecimalFormat
<div id="informe">
<h2 style="text-align: center;">Informe de Participantes @semestre</h2>

 @defining(new DecimalFormat("##0.00")){formato=>
<div class="tabs">
		<ul>
			<li><a href="#tabs-estudiantes">Estudiantes</a></li>
			<li><a href="#tabs-docentes">Docentes Evaluados</a></li>
			<li><a href="#tabs-autoeval">Autoevaluación</a></li>
			<li><a href="#tabs-gestion">Gestión</a></li>
			<li><a href="#tabs-investigacion">Investigación</a></li>
		</ul>
 	<div id="tabs-estudiantes">       
	<h3>Número de Estudiantes Evaluados</h3>
		<table>
		<tbody>
		<tr>
			<td>Facultad</td>
			<td>Número de Participantes</td>
			<td>Total Estudiantes</td>
			<td>Porcentaje</td>
		</tr>
		@for(facultad <- estudiantesEvaluadosPorFacultad){
		 <tr>
			<td>@facultad.getNombre()</td>
			<td>@facultad.getParticipantes()</td>
			<td>@facultad.getTotal()</td>
			<td>@formato.format(facultad.getPorcentaje()) %</td>
		</tr>
		}
		</tbody>
	    </table>
	</div>	   
	<div id="tabs-docentes">	
		<h3>Número de Docentes Evaluados por los Estudiantes</h3>
		<table>
		<tbody>
		<tr>
			<td>Facultad</td>
			<td>Número de Docentes Evaluados</td>
			<td>Número Total de Docentes</td>
			<td>Porcentaje</td>
		</tr>
		@for(facultad <- docentesEvaluadosPorEstudiantesPorFacultad){
		 <tr>
			<td>@facultad.getNombre()</td>
			<td>@facultad.getParticipantes()</td>
			<td>@facultad.getTotal()</td>
			<td>@formato.format(facultad.getPorcentaje()) %</td>
		</tr>
		}
		</tbody>
	    </table>
	</div> <!-- div docentes -->


<div id="tabs-autoeval">
	<h3>Número de Docentes que realizaron Autoevaluación</h3>
		<table>
		<tbody>
		<tr>
			<td>Facultad</td>
			<td>Número de Docentes con Autoevaluación</td>
			<td>Número Total de Docentes</td>
			<td>Porcentaje</td>
		</tr>
		@for(facultad <- docentesConAutoevaluacionPorFacultad){
		 <tr>
			<td>@facultad.getNombre()</td>
			<td>@facultad.getParticipantes()</td>
			<td>@facultad.getTotal()</td>
			<td>@formato.format(facultad.getPorcentaje()) %</td>
		</tr>
		}
		</tbody>
	    </table>
</div>
<div id="tabs-gestion">
<h3>Número de Directivos que evaluaron la gestión de sus docentes</h3>
		<table>
		<tbody>
		<tr>
			<td>Facultad</td>
			<td>Número de Docentes con Autoevaluación</td>
			<td>Número Total de Docentes</td>
			<td>Porcentaje</td>
		</tr>
		@for(facultad <- directivosGestionEvaluadosPorFacultad){
		 <tr>
			<td>@facultad.getNombre()</td>
			<td>@facultad.getParticipantes()</td>
			<td>@facultad.getTotal()</td>
			<td>@formato.format(facultad.getPorcentaje()) %</td>
		</tr>
		}
		</tbody>
	    </table>
</div>
<div id="tabs-investigacion">
<h3>Número de Directivos que evaluaron investigación</h3>
		<table>
		<tbody>
		<tr>
			<td>Facultad</td>
			<td>Número de Docentes con Autoevaluación</td>
			<td>Número Total de Docentes</td>
			<td>Porcentaje</td>
		</tr>
		@for(facultad <- directivosInvestigacionEvaluadosPorFacultad){
		 <tr>
			<td>@facultad.getNombre()</td>
			<td>@facultad.getParticipantes()</td>
			<td>@facultad.getTotal()</td>
			<td>@formato.format(facultad.getPorcentaje()) %</td>
		</tr>
		}
		</tbody>
	    </table>
</div>
</div> <!-- tabs -->
}
</div>  <!-- div informe -->
<script>
$( ".tabs" ).tabs();
</script>