@(profesores:List[Profesor], conScript:Integer=0)

<select name='documento' id='listaProfesores' style="width:100%;max-width:99%;">
<option value=-1>- Seleccione un docente</option>
@for(profesor <- profesores){
<option value='@profesor.getDocumento()'>@profesor.getApellidos() @profesor.getNombres()</option>
}
</select>

@if(conScript==1){
<script>
$(
function()
{
var availableTags = [
      "azul",
      "blanco",
      "rojo",
      "verde"];
$( "#tags" ).autocomplete({
      source: availableTags
    })

$('#listaProfesores').on("change", cambioProfesor);
$('#listainformes').on("change", cambioInforme);

}
);
function cambioInforme()
{

cambioSemestre();
cambioProfesor();
}
function cambioProfesor()
{
if($('#listasemestres').val()!=-1)
{
var documentoProfesor = $('#listaProfesores').val();
	$("#informe").html("<div id='progressbar'>Cargando, por favor espere...</div>");
			$("#progressbar").progressbar({
			value:false
			});
	if(documentoProfesor!=-1 && documentoProfesor)
	{
	
		
			enlaceDescargas($('#listaProfesores').val(),$('#listasemestres').val());
			if($('#listainformes').val()==1){
			$.post("informeprofesor",{documento: documentoProfesor, semestre: $('#listasemestres').val()},mostrar);
			}
			if($('#listainformes').val()==2){
			$.post("heteroevaluacion",{documento: documentoProfesor, semestre: $('#listasemestres').val()},mostrar);
			}
			if($('#listainformes').val()==3){
			$.post("informefinal",{documento: documentoProfesor, semestre: $('#listasemestres').val()},mostrar);
			}
			if($('#listainformes').val()==4){
			$.post("informefacultad",{documento: documentoProfesor, semestre: $('#listasemestres').val()},mostrar);
			}
				if($('#listainformes').val()==5){
			$.post("informeprograma",{documento: documentoProfesor, semestre: $('#listasemestres').val()},mostrar);
			}
			if($('#listainformes').val()==6){
			$.post("informeparticipantes",{semestre: $('#listasemestres').val()},mostrar);
			}
			$("#descargas").show();
	}
	else
	{
	$("#descargas").hide();
	$("#informe").html("<div></div>");
	}
}
}

function enlaceDescargas(documento, semestre)
{
var informe = "";
if($('#listainformes').val()==1){
informe="informe1";
}
if($('#listainformes').val()==2){
informe="informe2";
}
if($('#listainformes').val()==3){
informe="informe3";
}
if($('#listainformes').val()==4){
informe="informe4";
}
if($('#listainformes').val()==5){
informe="informe5";
}
if($('#listainformes').val()==6){
informe="informe6";
$("#descargas").show();
}

var enlace = '';
var s =  '';
	enlace=informe+'/pdf/'+documento+'/'+semestre;
	s =  "<ul class='side'>";
	s= s+ "<li><a href='"+enlace+"'>Descargar PDF</a></li>";
	enlace = informe+'/excel/'+documento+'/'+semestre;
	s = s +  "<li><a href='"+enlace+"'>Descargar Excel</a></li>";
	s = s + "</ul>";

$("#descargas").html(s);
}
</script>
}