@(permisos:List[Permiso], rol:Rol)
@main(""){
<div class="tabs" style="position: absolute; left: 300px;">
		<ul>
			<li><a href="#tabs-admin">Administración de Permisos</a></li>
		</ul>
 	<div id="tabs-admin">      

<table id="tabla">
<tr>
<td><b>Usuario</b></td><td><b>Rol</b></td><td><b>Permiso</b></td><td><b>Operación</b></td>
</tr>
<tr>
<td width='220'><input id='inputusuario' name="location" class="autocomplete-relation" data-url='autocompleteLabel' size='40'/></td>
<td><select name="listaroles" id='listaroles'>
<option value='@rol.getAdministradorId()'>ADMINISTRADOR</option>
<option value='@rol.getCoordinadorId()'>DIRECTOR DE PROGRAMA</option>
<option value='@rol.getCoordinadorDeAreaId()'>COORDINADOR DE AREA</option>
<option value='@rol.getDecanoId()'>DECANO</option>
<option value='@rol.getSecretariaFacultadId()'>SECRETARIA FACULTAD</option>
</select></td>
<td><b>
<div id="listaPermisos"></div></b></td>
<td><a href="javascript: void(0)" 
	 id="adicionar"
	 >Adicionar</a></td>
</tr>
@for(permiso <- permisos){
<tr>
	<td>@permiso.getUsuario().getNombre()</td>
	<td>@permiso.getUsuario().getNombreRol()</td>
	<td>@if(permiso.getCodigoPermiso()!=0){
	@permiso.getCodigoPermiso() @permiso.getNombrePermiso()
	}
	</td>
	<td><a href="javascript: void(0)" data-documento='@permiso.getUsuario().getDocumento()'
	@if(permiso.getCodigoPermiso!=0){
	 data-codigoPrograma='@permiso.getCodigoPermiso()'
	 }else{
	 	 data-codigoPrograma='0'
	 }
	 class="eliminar"
	 >Eliminar</a></td>
</tr>
}
</table>
</div><!-- tab admin -->
</div><!-- tabs -->
<div id="errorDialog" title="Error">
</div>
<div id="confirmDialog" title="Eliminar Permiso">
</div>

<div id="listaFacultades">@listafacultades(Facultad.findAll(),0)</div>
<div id="listaProgramas">@listaprogramas(Programa.findAll(),0)</div>

}
<script src="@routes.Assets.at("js/admin/autocomplete.js")"></script>
<script src="@routes.Assets.at("js/admin/adminCrud.js")"></script>
<script src="@routes.Assets.at("js/admin/adminGUI.js")"></script>
<script>
$('#listaroles').on('change', function(){

	if($('#listaroles').val()==@rol.getDecanoId() || $('#listaroles').val()==@rol.getSecretariaFacultadId())
	{
		$('#listaPermisos').html($('#listaFacultades').html());
	}
	else if($('#listaroles').val()==@rol.getCoordinadorId())
	{
		$('#listaPermisos').html($('#listaProgramas').html());
	}
	else if($('#listaroles').val()==@rol.getCoordinadorDeAreaId())
	{
		$('#listaPermisos').html('');
	}
	else if($('#listaroles').val()==@rol.getAdministradorId())
	{
		$('#listaPermisos').html('');
	}
	
}
);


$( ".tabs" ).tabs();

</script>
