@(semestres:List[String])

<select name='semestre' id="listasemestres">
<option value='-1'>- Seleccione -</option>
@for(semestre <- semestres){
<option value='@semestre'>@semestre</option>
}
</select>
<script>
$(
function()
{

$('#listasemestres').on("change", cambioSemestre);

}
);
function cambioSemestre()
{

@if(session.get("rol")==Rol.PROFESOR){
var documentoProfesor = '@session.get("documento")';

    if($('#listasemestres').val()!=-1)
    {
	$("#informe").html("<div id='progressbar'>Cargando, por favor espere...</div>");
	$("#progressbar").progressbar({
	value:false
	});
	if($('#listainformes').val()==1) $.post("informeprofesor",{documento: documentoProfesor, semestre: $('#listasemestres').val()},mostrar);
	if($('#listainformes').val()==2) $.post("heteroevaluacion",{documento: documentoProfesor, semestre: $('#listasemestres').val()},mostrar);
	if($('#listainformes').val()==3) $.post("informefinal",{documento: documentoProfesor, semestre: $('#listasemestres').val()},mostrar);
	
	enlaceDescargas(documentoProfesor,$('#listasemestres').val());
	}

}else{
	var entidad;
	if($('#listasemestres').val()!=-1)
    {
	$("#informe").html("<div id='progressbar'>Cargando, por favor espere...</div>");
	
	$("#listaProfesores").html("Cargando...");
	$("#progressbar").progressbar({
	value:false
	});
	if($('#listainformes').val()==1 || $('#listainformes').val()==2 || $('#listainformes').val()==3 ) entidad="profesores";
	if($('#listainformes').val()==4) entidad="facultades";
	if($('#listainformes').val()==5) entidad="programas";
	if($('#listainformes').val()==6) entidad="participantes";
	$.post("cambiosemestre",{semestre: $('#listasemestres').val(), valor: entidad},mostrarProfesores); // 0 profesores 1 facultades 2 programas
	$("#descargas").hide();
	}
	}
	function mostrarProfesores(data)
	{
	$("#informe").html("<div id='progressbar'>Cargando, por favor espere...</div>");
	$("#progressbar").progressbar({
	value:false
	});
		if(data=="participantes")
		{
		$.post("informeparticipantes",{semestre: $('#listasemestres').val()},mostrar);	
		enlaceDescargas(0,$('#listasemestres').val());
		$('#listaProfesores').hide();
		}
		else
		{
		$("#listaProfesores").html(data);
		$("#informe").html("");
		$('#listaProfesores').show();
		}
	
} // fin-else @session
}

function mostrar(data)
{
$("#informe").html(data);

}
function enlaceDescargas(documento, semestre)
{
var informe = "";
if($('#listainformes').val()==1){
informe="informe1";
}
if($('#listainformes').val()==2){
informe="informe2";
}
if($('#listainformes').val()==3){
informe="informe3";
}
if($('#listainformes').val()==4){
informe="informe4";
}
if($('#listainformes').val()==5){
informe="informe5";
}
if($('#listainformes').val()==6){
informe="informe6";
$("#descargas").show();
}

var enlace = '';
var s =  '';

	enlace=informe+'/pdf/'+documento+'/'+semestre;
	s =  "<ul class='side'>";
	s= s+ "<li><a href='"+enlace+"'>Descargar PDF</a></li>";
	@if(session.get("rol")==Rol.COORDINADOR || session.get("rol")==Rol.ADMINISTRADOR){
	enlace = informe+'/excel/'+documento+'/'+semestre;
	s = s +  "<li><a href='"+enlace+"'>Descargar Excel</a></li>";
	s = s + "</ul>";
	}
$("#descargas").html(s);
}
</script>