@(profesores:List[Profesor], conScript:Integer=0)

<select name='documento' id='listaProfesores'>
<option value=-1></option>
@for(profesor <- profesores){
<option value='@profesor.getDocumento()'>@profesor.getApellidos() @profesor.getNombres()</option>
}
</select>

@if(conScript==1){
<script>
$(
function()
{
var availableTags = [
      "azul",
      "blanco",
      "rojo",
      "verde"];
$( "#tags" ).autocomplete({
      source: availableTags
    })

$('#listaProfesores').on("change", cambioProfesor);
$('#listainformes').on("change", cambioProfesor);

}
);
function cambioProfesor()
{
$("#informe").html("<div id='progressbar'></div>");
$("#progressbar").progressbar({
value:false
});
enlaceDescargas($('#listaProfesores').val(),$('#listasemestres').val());
if($('#listainformes').val()==1){
$.post("informeprofesor",{documento: $('#listaProfesores').val(), semestre: $('#listasemestres').val()},mostrar);
}
if($('#listainformes').val()==2){
$.post("heteroevaluacion",{documento: $('#listaProfesores').val(), semestre: $('#listasemestres').val()},mostrar);
}
}
function mostrar(data)
{
$("#informe").html(data);

}
function enlaceDescargas(documento, semestre)
{
var informe = "";
if($('#listainformes').val()==1){
informe="informe1";
}
if($('#listainformes').val()==2){
informe="informe2";
}
if($('#listainformes').val()==3){
informe="informe3";
}
var enlace = informe+'/pdf/'+documento+'/'+semestre;
var s =  "<ul class='side'>";
s= s+ "<li><a href='"+enlace+"'>Descargar PDF</a></li>";
enlace = informe+'/excel/'+documento+'/'+semestre;
s = s +  "<li><a href='"+enlace+"'>Descargar Excel</a></li>";
s = s + "</ul>";
$("#descargas").html(s);
}
</script>
}