@(profesores:List[Profesor], conScript:Integer=0)

<select name='documento' id='listaProfesores'>
<option value=-1> - Seleccion -</option>
@for(profesor <- profesores){
<option value='@profesor.getDocumento()'>@profesor.getApellidos() @profesor.getNombres()</option>
}
</select>
@if(conScript==1){
<script>
$(
function()
{

$('#listaProfesores').on("change", cambioProfesor);
}
);
function cambioProfesor()
{
$("#informe").html("<div id='progressbar'></div>");
$("#progressbar").progressbar({
value:false
});
$.post("informeprofesor",{documento: this.value},mostrar);

}
function mostrar(data)
{

$("#informe").html(data);
}
</script>
}