@(profesores:List[Profesor], semestres:List[String], programas:List[Programa]=Nil,facultades:List[Facultad]=Nil)
      <div id="sidebar">
          <h3> Menú </h3>
          <p>Semestre: @listasemestres(semestres)</p>
          <p>@listainformes()</p>
          @if(session.get("rol")!=Rol.PROFESOR){
            @if(session.get("rol")==Rol.COORDINADOR) {
            <p>@listaprogramas(programas,1)</p>
            }
            @if(session.get("rol")==Rol.DECANO) {
            <p>@listafacultades(facultades,1)</p>
            }
          <p>@lista(profesores,1)</p>
          }else{
          <script>
          $(
			function()
			{
			$('#listainformes').on("change", cambioInforme);
			}
			);
          function cambioInforme()
			{
			
			cambioSemestre();

			}
		  </script>
          }
          
          <div id='descargas'>
          
          </div>
  
      </div>