@(profesores:List[Profesor])
      <div id="sidebar">
          <h3> Menú</h3>
          <p>Semestre: <select><option>20132</option></select></p>
          <p>@lista(profesores)</p>
         <p><input type="radio"></input></p>
          <ul class="side">
            <li><a href="http://all-free-download.com/free-website-templates/">
                More free Templates </a></li>
            <li><a href="http://all-free-download.com/free-website-templates/">
                Freelance Web Designer </a></li>
            <li><a href="http://all-free-download.com/free-website-templates/">Some
                Example Links</a></li>
            <li><a href="http://all-free-download.com/free-website-templates/">Donec
                sed est ut felis</a></li>
          </ul>
          <p>This is a form in the sidebar.</p>
          <form method="get" action="http://all-free-download.com/free-website-templates/">
            <input type="text" name="user" class="user_box" /> <input type="submit"
              value="Search" class="button" /> </form>
  
      </div>