@(imagen:String,imagen2:String,imagen3:String)
@import models.Nivel
@import java.text.DecimalFormat
<div id="informe">
<div class="tabs">
	@imagen
<img width='219' height='63' src='@imagen' alt='Logo title='Logo'  align='left' hspace='12'></img>
<img width='219' height='63' src='@imagen2' alt='Logo title='Logo'  align='left' hspace='12'></img>
<img width='219' height='63' src='@imagen3' alt='Logo title='Logo'  align='left' hspace='12'></img>
 	<div id="tabs-docencia">       
	
	<div class="titulotabla"></div>
	<table width='704'>
  	 <tr style="font-size: 8pt;">
    <td width='222'>&nbsp;</td>
    <td width='466'><img width='219' height='63' src='@imagen' alt='Logo title='Logo'  align='left' hspace='12'></img></td>
  	</tr>
  	
	</table>	
  </div> <!--  docencia -->
</div> <!-- tabs docencia-gestión-invest --> 
</div>  <!-- div informe -->
