@(evaluacionMateria:EvaluacionMateria, titulo:String, saber:Int, inicio:Int, fin:Int)
@import models.Pregunta
@import models.Nivel
@import java.text.DecimalFormat
<div class="titulotabla">@titulo</div>
	
<table border='1'>
<tbody>
        <tr style="font-size: 8pt;">
        <td class="row_headers" rowspan='2' width='7cm'>Enunciado</td>
		<td class="row_headers" colspan='2'>Nivel<br></br>Inferior</td>
		<td class="row_headers" colspan='2'>Nivel<br></br>Bajo</td>
		<td class="row_headers" colspan='2'>Nivel<br></br>Medio</td>
		<td class="row_headers" colspan='2'>Nivel<br></br>Alto</td>
		<td class="row_headers" colspan='2'>Nivel<br></br>Superior</td>
	     </tr>
	     <tr style="font-size: 8pt;">
		
                <td class="row_headers">Resp.</td>
                <td class="row_headers">%</td>
                <td class="row_headers">Resp.</td>
                <td class="row_headers">%</td>
                <td class="row_headers">Resp.</td>
                <td class="row_headers">%</td>
                <td class="row_headers">Resp.</td>
                <td class="row_headers">%</td>
                <td class="row_headers">Resp.</td>
                <td class="row_headers">%</td>
             
          </tr>
     	  @defining(new DecimalFormat("##0.00")){formato=>
          @defining(Pregunta.getPreguntasEvaluacion(Pregunta.DOCENCIA)){preguntas=>
	          @for(i<-inicio to fin) {
	          @defining(evaluacionMateria.getPreguntas().indexOf(new Pregunta(preguntas.get(i).getTitulo()))){indice=>
	          @if(indice>=0){
		          @defining(evaluacionMateria.getPreguntas().get(indice)){pregunta=>
		       	        <tr>
		       	        <td style="font-size: 8pt;">@pregunta.getEnunciado()</td>
		       	        <td style="font-size: 8pt;">@pregunta.getNumeroRespuestasNivel()(Nivel.INFERIOR)</td>
		                <td style="font-size: 8pt;">@formato.format(pregunta.getPorecentajeNivel()(Nivel.INFERIOR))%</td>
		            	<td style="font-size: 8pt;">@pregunta.getNumeroRespuestasNivel()(Nivel.BAJO)</td>
		                <td style="font-size: 8pt;">@formato.format(pregunta.getPorecentajeNivel()(Nivel.BAJO))%</td>
		                <td style="font-size: 8pt;">@pregunta.getNumeroRespuestasNivel()(Nivel.MEDIO)</td>
		                <td style="font-size: 8pt;">@formato.format(pregunta.getPorecentajeNivel()(Nivel.MEDIO))%</td>
		                <td style="font-size: 8pt;">@pregunta.getNumeroRespuestasNivel()(Nivel.ALTO)</td>
		                <td style="font-size: 8pt;">@formato.format(pregunta.getPorecentajeNivel()(Nivel.ALTO))%</td>
		                <td style="font-size: 8pt;">@pregunta.getNumeroRespuestasNivel()(Nivel.SUPERIOR)</td>
		                <td style="font-size: 8pt;">@formato.format(pregunta.getPorecentajeNivel()(Nivel.SUPERIOR))%</td>
		                </tr>
		    			}
		       
	               }
	           }
	      
	        }
	               	<tr style="font-size: 8pt;">
	       	        <td>Promedio</td>
	       	        <td>@formato.format(evaluacionMateria.getPromedioRespuestas()(saber)(Nivel.INFERIOR))</td>
	                <td>@formato.format(evaluacionMateria.getPromedioPorcentaje()(saber)(Nivel.INFERIOR))%</td>
	               	<td>@formato.format(evaluacionMateria.getPromedioRespuestas()(saber)(Nivel.BAJO))</td>
	                <td>@formato.format(evaluacionMateria.getPromedioPorcentaje()(saber)(Nivel.BAJO))%</td>
	                <td>@formato.format(evaluacionMateria.getPromedioRespuestas()(saber)(Nivel.MEDIO))</td>
	                <td>@formato.format(evaluacionMateria.getPromedioPorcentaje()(saber)(Nivel.MEDIO))%</td>
	                <td>@formato.format(evaluacionMateria.getPromedioRespuestas()(saber)(Nivel.ALTO))</td>
	                <td>@formato.format(evaluacionMateria.getPromedioPorcentaje()(saber)(Nivel.ALTO))%</td>
	                <td>@formato.format(evaluacionMateria.getPromedioRespuestas()(saber)(Nivel.SUPERIOR))</td>
	                <td>@formato.format(evaluacionMateria.getPromedioPorcentaje()(saber)(Nivel.SUPERIOR))%</td>

	                </tr>
	        }
	        
        }
            </tbody>
</table>